@CHARSET "UTF-8";

	banner{
		background-color: lightgrey;
		width: 400px;
		border: 5px solid blue;
		padding: 5px;
		margin: 5px;
	}
	
	filterbox{
		background-color: lightgrey;
		width: 1500 px;
		border: 2px solid blue;
		padding: 50px;
		margin: 400px;	
	}
	
	body {
		background-color: #D8D8D8;
	}
	
</html>